# This is a basic workflow that is manually triggered

name: Windows workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
 build:
  runs-on: window-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
  steps:
   - uses: actions/checkout@v2
    # Runs a single command using the runners s
